.box_list {
    display: flex;
    flex-wrap: wrap;
    width: 95vw;
    height: 65vh;
    justify-content: space-between; 
    align-content: flex-start;
  }
.box {
  display: flex;
  flex-wrap: wrap;
    flex: 1 1 calc(45% - 2%); 
    height: 60%; 
    margin: 1%; 
    border-width: 1px 6px 6px 1px;
    border-style: solid;
    border-radius: 30px;
    padding: 15px; 
    box-sizing: border-box; /* This ensures that padding and border are included in the box's total width and height */
}